$prefixes: ("-webkit-","-moz-", "-o-", "");
@mixin selection($color, $background) {
    @each $prefix in $prefixes {
        ::#{$prefix}selection {
            // color: $color;
            color: invert($background);
            background: $background;

            //  @include contrasted( $background );
        }
    }
}
