// $Wrapper: {$Wrapper};
// $atrs: {$atrs};

// $c  : {$color};
// $cop: {$cop};

// $b  : {$bgc} ;
// $bop: {$bop};

// $h  : {$hover};
// $hop: {$hop};

// $l  : {$link};
// $lop: {$lop};

// $s  : {$shadow};
// $sop: {$sop};

// $br : {$border} !default;
// $bro: {$bro};

// $scale: {$scale};

@if $atrs {
  ##{$Wrapper} {@extend %Wrapper;}
} @else {
  #{$Wrapper} {@extend %Wrapper;}
}

%Wrapper {

  @if $scale {
    &.sticky.header-shrink #BrandContainer #BrandBox .logo {
      width: $scale;
      height: auto;
    }
  }

// Background (b/bop)
// ==================================================
  @if $b {
    @if $bop {
      $b: rgba($b,$bop);
    }
    background-color: $b;

    #MainMenu .mainmenu .dropdown-menu {
      // background-color: darken( $b, 6% );
      background-color: adjust_hue( $b, 16);
    }

    #MainMenu .mainmenu .dropdown-menu li a:hover,
    #MainMenu .mainmenu .dropdown-menu li a:focus {
      background-color: darken( adjust_hue( $b, 16) , 5% );
    }

    #MainMenu .mainmenu .dropdown-menu li {
      border-bottom: 1px solid darken( adjust_hue( $b, 16) ,5% );
    }

    #MainMenu .mainmenu .dropdown-submenu:hover > a,
    #MainMenu .mainmenu .dropdown-submenu:focus > a {
      background-color: lighten( adjust_hue( $b, 16) ,5% );
    }

  }


// Text Color (c/cop)
// ==================================================
  @if $c {

    @if $cop {
      $c: rgba($c,$cop);
    }

    color: $c;

     #BrandBox .brand {
      color: $c;
    }

    #MainMenu .mainmenu .dropdown-menu a {
      color: $c;
    }

    #MainMenu .mainmenu .dropdown-submenu > a:after {
      border-left-color: $c;
    }

  }

// Text Shadow (s/sop)
// ==================================================
  @if $s {

    @if $sop {
      $s: 1px 1px 2px rgba($s,$sop);
    }

    text-shadow: 1px 1px 2px $s;
  }


// Link & Hover (l/lop & h/hop)
// ==================================================
  @if $l {
    @if $lop {
      $l: rgba($l,$lop);
    }

    a:not(.btn) { color: $l; }

    #MainMenu .mainmenu a {
      color: $l;
    }


  @if $h {
    @if $hop {
      $h: rgba($h,$hop);
    }

    .line80 { background-color: $h; }

    #MainMenu .mainmenu a:hover,
    a:hover { color: $h; }
    a.btn:hover { color: none; }

    #MainMenu .mainmenu .dropdown-menu {
      border-top: 2px solid $h;
    }


  }


  }

  // Border (br/bro)
// ==================================================
  @if $br {

    @if $bro {
      $br: rgba($br,$bro);
    }

    * {
      border-color: $br;
    }

  }

}//end wrapper
