// $Wrapper: {$Wrapper};
// $atrs: {$atrs};
// $bip: {$bip};
// $bgt: {$bgt};

@if $atrs {
  ##{$Wrapper} {@extend %Wrapper;}
} @else {
  #{$Wrapper} {@extend %Wrapper;}
}

%Wrapper {

// Background Image (bip)
// ==================================================
  @if $bip {

    @if $bgt == pattern {
      background: url($bip) repeat left top transparent;
    }

    @if $bgt == parallax {
      background-image: url($bip);
      background-attachment: fixed;
      background-position: left top;
    }

  }

}
