/*!
Array list
==start==
ext-image-circle|Image circle
ext-text-block|Text block
==end==
*/.ext-image-circle img{-webkit-border-radius:500px;-moz-border-radius:500px;-ms-border-radius:500px;-o-border-radius:500px;border-radius:500px}.ext-text-block{line-height:1.2em;display:table}.ext-text-block *{line-height:100%;display:table-cell;vertical-align:middle}
