/*CSS Document*/
.cbp-mc-form
{
	position: relative;
}
.cbp-mc-form:before, .cbp-mc-form:after
{
	content: " ";
	display: table;
}
.cbp-mc-form:after
{
	clear: both;
}
.cbp-mc-column
{
	width: 33%;
	padding: 10px 30px;
	float: left;
}
.cbp-mc-form LABEL
{
	display: block;
	padding: 20px 5px 5px 2px;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
}
.cbp-mc-form INPUT, .cbp-mc-form TEXTAREA, .cbp-mc-form SELECT
{
	font-family: Lato, Calibri, Arial, sans-serif;
	line-height: 1.5;
	font-size: 1.4em;
	padding: 5px 10px;
	color: #FFF;
	display: block;
	max-width: 100%;
	background: transparent;
}
.cbp-mc-form INPUT, .cbp-mc-form TEXTAREA
{
	border: 3px solid #FFF;
}
.cbp-mc-form TEXTAREA
{
	min-height: 200px;
}
.cbp-mc-form INPUT:focus, .cbp-mc-form TEXTAREA:focus, .cbp-mc-form LABEL:active + INPUT, .cbp-mc-form LABEL:active + TEXTAREA
{
	outline: none;
	border: 3px solid #16A085;
}
.cbp-mc-form SELECT:focus
{
	outline: none;
}
::-webkit-input-placeholder
{
	/*WebKit browsers*/
	color: #16A085;
	font-style: italic;
}
:-moz-placeholder
{
	/*Mozilla Firefox 4 to 18*/
	color: #16A085;
	font-style: italic;
}
::-moz-placeholder
{
	/*Mozilla Firefox 19+*/
	color: #16A085;
	font-style: italic;
}
:-ms-input-placeholder
{
	/*Internet Explorer 10+*/
	color: #16A085;
	font-style: italic;
}
.cbp-mc-submit-wrap
{
	text-align: center;
	padding-top: 40px;
	clear: both;
}
.cbp-mc-form INPUT.cbp-mc-submit
{
	background: #16A085 0px -6px;
	border: none;
	color: #FFF;
	width: auto;
	cursor: pointer;
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 30px;
	font-size: 1.1em;
	border-radius: 2px;
	letter-spacing: 1px;
}
.cbp-mc-form INPUT.cbp-mc-submit:hover
{
	background: #1478B1;
}
@media screen and (max-width: 70em)
{
	.cbp-mc-column
	{
		width: 50%;
	}
	.cbp-mc-column:nth-child(3)
	{
		width: 100%;
	}
}
@media screen and (max-width: 48em)
{
	.cbp-mc-column
	{
		width: 100%;
		padding: 10px;
	}
}
