@font-face
{
	font-family: ecoicon;
	src: url('../fonts/ecoicons/ecoicon.eot');
	src: url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'), url('../fonts/ecoicons/ecoicon.woff') format('woff'), url('../fonts/ecoicons/ecoicon.ttf') format('truetype'), url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.hi-icon-wrap
{
	text-align: center;
	margin: 0 auto;
	padding: 1em 0 2em;
}
.hi-icon
{
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #FFF;
}
.hi-icon:after
{
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.hi-icon:before
{
	font-family: ecoicon;
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.hi-icon-mobile:before
{
	content: "\e009";
}
.hi-icon-screen:before
{
	content: "\e00a";
}
.hi-icon-earth:before
{
	content: "\e002";
}
.hi-icon-support:before
{
	content: "\e000";
}
.hi-icon-locked:before
{
	content: "\e001";
}
.hi-icon-cog:before
{
	content: "\e003";
}
.hi-icon-clock:before
{
	content: "\e004";
}
.hi-icon-videos:before
{
	content: "\e005";
}
.hi-icon-list:before
{
	content: "\e006";
}
.hi-icon-refresh:before
{
	content: "\e007";
}
.hi-icon-images:before
{
	content: "\e008";
}
.hi-icon-pencil:before
{
	content: "\e00b";
}
.hi-icon-link:before
{
	content: "\e00c";
}
.hi-icon-mail:before
{
	content: "\e00d";
}
.hi-icon-location:before
{
	content: "\e00e";
}
.hi-icon-archive:before
{
	content: "\e00f";
}
.hi-icon-chat:before
{
	content: "\e010";
}
.hi-icon-bookmark:before
{
	content: "\e011";
}
.hi-icon-user:before
{
	content: "\e012";
}
.hi-icon-contract:before
{
	content: "\e013";
}
.hi-icon-star:before
{
	content: "\e014";
}
/*Effect 6*/
.hi-icon-effect-6 .hi-icon
{
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
.no-touch .hi-icon-effect-6 .hi-icon:hover
{
	background: rgba(255, 255, 255, 1);
	color: #64BB5D;
}
.no-touch .hi-icon-effect-6 .hi-icon:hover:before
{
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}
