@import url(http://fonts.googleapis.com/css?family=Lato);
*
{
	margin: 0;
	padding: 0;
}
@font-face
{
	font-family: aaarghnormal;
	src: url('font/Aaargh-webfont.eot');
	src: url('font/Aaargh-webfont.eot?#iefix') format('embedded-opentype'), url('font/Aaargh-webfont.woff') format('woff'), url('font/Aaargh-webfont.ttf') format('truetype'), url('font/Aaargh-webfont.svg#aaarghnormal') format('svg');
	font-weight: normal;
	font-style: normal;
}
.column-fix
{
	padding: 0 10px;
}
.alpha .column-fix
{
	padding: 0 3.33px 0 10px;
}
.omega .column-fix
{
	padding: 0 10px 0 3.33px;
}
.alpha.omega .column-fix
{
	padding: 0 6.66px;
}
BODY, DIV, SPAN, P, A, IMG, UL, OL, LI, TABLE, TH, TR, TD, FORM, FIELDSET, LEGEND, DL, DT, DD, BLOCKQUOTE, APPLET, OBJECT
{
	border: 0;
}
#home-blocks-area P
{
	color: #FFF;
	align-content: center;
}
BODY
{
	padding: 0;
	background: transparent repeat;
	font: 12px / 1.4 Verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-align: center;
}
A
{
	color: #1B8BB4;
	text-decoration: none;
	border: none;
}
A:link, LI A.active
{
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	border: none;
}
A:hover
{
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	border: none;
}
IMG
{
	max-width: 100%;
	height: auto;
}
IMG A
{
	border: none;
}
H1, H2, H3, H4, H5, H6
{
	font-family: aaarghnormal;
	margin: 0 0 10px;
}
H1
{
	font-size: 230%;
}
H2
{
	font-size: 183%;
	font-weight: bold;
}
H3
{
	font-size: 140%;
	font-weight: bold;
}
H4
{
	font-size: 120%;
	font-weight: bold;
}
H5
{
	font-size: 100%;
}
H1.title
{
	border-bottom: 1px dotted #84A1AF;
	margin: 0 0 20px;
}
.node H2 A
{
	color: #1C8CB5;
	font-size: 26px;
}
P
{
	margin: 0 0 10px;
}
BLOCKQUOTE
{
	border: 1px solid #CED1DA;
	background: #EEF0F5;
	margin: 20px 0;
	padding: 20px;
	color: #788093;
	font-weight: bold;
	font-style: italic;
}
.clearfix:after
{
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix
{
	display: inline-block;
}
HTML[xmlns] .clearfix
{
	display: block;
}
/*
* Page
 */
#page
{
	background: rgba(37, 37, 37, 0.9);
}
/*
* Header-top
 */
#header-top-inside
{
	background: #16A085;
	width: 100%;
	height: 3px;
	background: fixed;
	z-index: 99999;
}
#header-top-inside-left
{
	float: left;
	text-align: left;
	padding: 20px 0 0;
	color: #485766;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
}
#header-top-inside-left A
{
	color: #6A87A3;
}
#header-top-inside-left-feed
{
	float: left;
	padding: 20px 0 0;
}
#header-top-inside-right
{
	float: right;
	text-align: right;
	padding: 15px 0 0;
}
/*
* Header menu
*/
.region-header UL.menu LI
{
	float: left;
	display: block;
	overflow: hidden;
	list-style-type: none;
	padding: 0 10px;
	margin: 0;
	border-right: 1px solid #6A87A3;
}
.region-header UL.menu LI.first
{
	padding: 0 10px 0 0;
}
.region-header UL.menu LI.last
{
	border-right: none;
}
/*
* Wrapper
 */
#wrapper
{
	margin: 0 auto;
	text-align: left;
	padding: 0 0 20px;
}
#header
{
	background: rgba(25, 27, 28, 0.7);
	/*[empty]height:;*/
}
#logo-floater
{
	float: left;
	margin: 5px 0 0 10px;
	text-align: left;
	/*[empty]height:;*/
}
#logo-floater A
{
	outline: none;
}
#site-name A
{
	color: #FFFFFF;
	font-size: 14px;
	outline: none;
	display: none;
}
#slogan
{
	color: #485766;
	text-transform: uppercase;
	font-size: 10px;
}
#navigation
{
	float: right;
	margin: 24px 0 0 40px;
	padding: 0 0 0px;
	display: block;
}
#highlighted
{
	padding: 0 0 20px;
}
#main-area
{
	background: transparent;
	clear: both;
	display: block;
	overflow: hidden;
	background-image: url(../images/home-block-box-bg.png);
	padding: 10px;
}
#main-area-inside
{
	display: block;
	overflow: hidden;
	background-image: url(../images/main-area-bg.png);
	margin: 77px 0 0;
}
#main
{
	padding: 20px;
}
.no-sidebars #main
{
	padding: 20px 40px 20px 20px;
}
.no-sidebars #main-area-inside
{
	background: #FFFFFF;
}
/*
* Taxonomy - Feed Pages
* .node-teaser
*/
.node-teaser
{
	display: block;
	margin: 0 0 25px;
	padding: 0 0 5px;
	border-bottom: 1px dotted #84A1AF;
}
/*
* Region-sidebar-first
 */
#right
{
	background: #EEF0F5;
}
#right .block H2
{
	background: #9097A9 url(../images/icons/menu-icon.png) no-repeat 10px center;
	color: #FFFFFF;
	padding: 10px 10px 10px 45px;
	font-size: 160%;
	margin: 0;
}
#right .block .content
{
	padding: 20px 20px 30px;
}
#right .block.block-menu .content, #right .block.block-system .content
{
	padding: 10px;
	margin: 0;
}
#right .block UL.menu
{
	padding: 0;
	margin: 0;
}
#right .block UL.menu UL
{
	padding: 0 0 0 10px;
}
#right .block UL.menu LI
{
	padding: 0;
	margin: 0;
	list-style: none;
}
#right .block UL.menu LI A
{
	background: #E0E3EB url("../images/menu-right-bg.png") no-repeat 96% center;
	color: #747C93;
	display: block;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 600;
	overflow: hidden;
	padding: 10px 20px 10px 10px;
	margin: 0 0 2px;
}
#right .block UL.menu LI UL.menu LI A
{
	background-image: none;
	margin: 0 0 2px;
}
/*
* Home
 */
#home-blocks-area
{
	background: #47A085;
	min-height: 100px;
	overflow: hidden;
	margin: 0% 10% 0% 12%;
	clear: none;
}
/*Example overrides*/
.home-block-area
{
	float: none;
	padding: 0;
}
.home-block-area.first
{
	padding-left: 0;
}
.home-block-area.last
{
	padding-right: 0;
}
#home-blocks-area .region-home-area-3-b .block
{
	background: none;
	margin: -6px 0 0;
}
#home-blocks-area .block
{
	padding-bottom: 20px;
}
#home-blocks-area .block H2
{
	height: 36px;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
	padding: 10px 0 0 20px;
}
#home-blocks-area .region-home-area-1 .block H2
{
	background: url(../images/icons/man-icon.png) no-repeat 13px 10px;
	padding: 10px 0 0 49px;
}
#home-blocks-area .region-home-area-2 .block H2
{
	background: url(../images/icons/bubble-icon.png) no-repeat 13px 10px;
	padding: 10px 0 0 49px;
}
#home-blocks-area .region-home-area-3 .block H2
{
	padding: 10px 0 0 49px;
}
#home-blocks-area .block .content
{
	padding: 20px;
	display: block;
	overflow: hidden;
	font-family: Arial, Helvetica, "Sans Serif";
	font-size: 14px;
}
#home-blocks-area .block .content H1, #home-blocks-area .block .content H2, #home-blocks-area .block .content H3, #home-blocks-area .block .content H4
{
	color: #FFFFFF;
}
#home-blocks-area .block .content H3
{
	font-size: 17px;
}
#home-blocks-area .block .content .detail H3
{
	font-size: 14px;
	padding: 0;
	margin: 0;
}
#home-blocks-area .block .content .detail H4
{
	color: #6A7796;
	font-size: 14px;
	line-height: 16px;
	padding: 0;
	margin: 0;
	font-weight: normal;
}
#home-blocks-area .block .content P.post-note
{
	font-size: 12px;
	margin-top: -8px;
}
#home-blocks-area .block .content P.post-note A
{
	color: #3F9FCF;
}
#parallax-bottom
{
	background-color: #47A085;
	/*[empty]padding:;*/
}
#thumbnails-1
{
	background: #FFFFFF;
}
.ico
{
	float: left;
	margin: 0 20px 10px 0;
}
.ico2 IMG
{
	margin-right: 5px;
	width: auto;
}
.clear
{
	clear: both;
}
/*
* Footer
 */
#footer
{
	clear: both;
	margin: 0 auto;
	text-align: center;
	display: block;
	background-color: #0F131F;
	border-bottom: 1px solid #040507;
	min-height: 100px;
}
#footer-inside
{
	margin: 0 auto;
	text-align: left;
	padding: 20px 0;
}
#footer A
{
	color: #417893;
}
#footer A:link, #footer LI A.active
{
	color: #417893;
}
#footer A:hover
{
	color: #417893;
}
#footer H2
{
	color: #8C94AC;
	background: transparent;
	font-size: 22px;
	padding: 0 0 10px;
}
#footer .content
{
	color: #FFFFFF;
}
#footer UL.menu LI
{
	margin: 0 0 0.25em;
}
#footer UL.menu LI.leaf
{
	list-style: none;
}
#footer UL.menu LI A
{
	color: #606574;
}
#footer-bottom
{
	clear: both;
	margin: 0 auto;
	text-align: center;
	display: block;
	background: #353F47;
	border-top: 1px solid #0F131F;
	padding: 20px 0;
}
#footer-bottom-inside
{
	margin: 0 auto;
	text-align: left;
	min-height: 50px;
	color: #4A575F;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
}
#footer-bottom-inside A
{
	color: #4A575F;
}
/*
* Footer Gallery block
 */
.footer-gallery-block IMG
{
	background-color: #191F2F;
	border: 1px solid #252C3E;
	float: left;
	margin-bottom: 10px;
	margin-right: 9px;
	padding: 5px;
	width: auto;
}
/*
* Footer Twitter block
 */
#footer UL.twitter
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: transparent url("../images/tweetbg.png") repeat 0 0;
	list-style-type: none;
	padding: 10px;
	margin-left: 0;
}
#footer UL.twitter
{
	padding: 10px;
}
#footer UL.twitter LI, #footer LI.twitter-message
{
	color: #417893;
	font-family: Verdana;
	font-size: 12px;
	margin: 0;
}
#footer A.twitter-link, #footer A.twitter-user
{
	color: #B8E2F6;
}
#footer .twitter-timestamp
{
	color: #305465;
	display: block;
	font-family: Verdana;
	font-size: 11px;
	margin-top: 25px;
}
/*
* Node
 */
DIV.field-type-taxonomy-term-reference
{
	color: #444955;
	font-size: 11px;
	font-weight: bold;
	background: url(../images/tag.png) no-repeat left;
	padding-left: 28px;
	margin-top: 10px;
	display: block;
	overflow: hidden;
}
DIV.field-type-taxonomy-term-reference A
{
	color: #1B8BB4;
}
DIV.field-type-taxonomy-term-reference .field-label
{
	float: left;
	display: block;
	clear: both;
}
DIV.field-type-taxonomy-term-reference .field-items .field-item
{
	float: left;
	display: block;
	padding: 0 5px;
}
.node .content IMG
{
	border: 1px solid #CED1DA;
	background: #EEF0F5;
	padding: 1%;
	margin: 20px 0;
	max-width: 97.5%;
}
/*
* contact form
 */
FORM#contact_form LABEL
{
	font-weight: bold;
}
FORM#commentform INPUT, FORM#contact_form INPUT[type="text"]
{
	background: #EEF0F5 repeat 0 0;
	border: 1px solid #CED1DA;
	font-size: 18px;
	height: 2em;
	width: 95%;
}
FORM#contact_form INPUT[type="text"]
{
	width: 43%;
}
FORM#commentform TEXTAREA, FORM#contact_form TEXTAREA
{
	background: #EEF0F5 repeat 0 0;
	border: 1px solid #CED1DA;
	font-family: Verdana;
	font-size: 14px;
	height: 170px;
	margin: 0 0 10px 10px;
	width: 290px;
}
FORM#contact_form TEXTAREA
{
	height: 300px;
	margin-left: 0;
	width: 100%;
}
#map_wrap
{
	float: right;
	margin-right: 0;
}
P.map
{
	display: block;
	font-weight: bold;
	margin: 0;
}
FORM#commentform INPUT#submit, FORM#contact_form BUTTON
{
	background: #11719F repeat 0 0;
	border: 0 none;
	color: #FFFFFF;
	float: right;
	font-weight: bold;
	margin-top: 10px;
	padding: 0 5px;
	width: 80px;
}
FORM#contact_form BUTTON
{
	height: 45px;
	margin: 0;
	width: 120px;
}
/*
* Module contact form
 */
.contact-form LABEL
{
	font-weight: bold;
	padding: 5px 0;
}
.contact-form .form-text
{
	background: #EEF0F5;
	border: 1px solid #CED1DA;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	width: 98%;
	padding: 5px;
	color: #666666;
}
.contact-form TEXTAREA
{
	background: #EEF0F5;
	border: 1px solid #CED1DA;
	font-weight: normal;
	padding: 5px;
	font-family: Verdana, Helvetica, sans-serif;
	color: #666666;
}
.contact-form .form-submit
{
	background: #11719F;
	border: none;
	color: #FFFFFF;
	float: right;
	font-weight: bold;
	margin: 10px 0 0;
	padding: 10px;
	cursor: pointer;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
/*
* Comments
 */
#comments
{
	clear: both;
}
.comment-form LABEL
{
	font-weight: bold;
	padding: 5px 0;
}
.comment-form .form-text
{
	background: #EEF0F5;
	border: 1px solid #CED1DA;
	font-weight: normal;
	height: 25px;
	line-height: 25px;
	width: 98%;
	padding: 5px;
	color: #666666;
}
.comment-form TEXTAREA
{
	background: #EEF0F5;
	border: 1px solid #CED1DA;
	font-weight: normal;
	padding: 5px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 120%;
	color: #666666;
}
.comment-form .form-submit
{
	background: #11719F;
	border: none;
	color: #FFFFFF;
	float: right;
	font-weight: bold;
	margin: 10px 0 0 10px;
	padding: 10px;
	cursor: pointer;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}
.comment
{
	background: #EEF0F5;
	border: 1px solid #CED1DA;
	font-weight: normal;
	padding: 20px;
	margin: 20px 0;
}
.comment .submitted
{
	color: #777D8A;
	font-size: 11px;
}
.comment H3 A.permalink
{
	font-size: 12px;
	font-family: Verdana, Helvetica, sans-serif;
}
/*
* Form items
 */
.form-item, .form-actions
{
	clear: both;
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
	overflow: hidden;
}
/*
* List items
 */
UL.menu
{
	margin: 0 0 0.75em;
	padding: 0;
	list-style: inside;
}
UL.menu LI
{
	margin: 0 0 0.25em 1.5em;
	padding: 0;
}
.links
{
	clear: both;
	overflow: hidden;
	margin: 10px 0;
}
UL LI.leaf
{
	list-style-type: disc;
	list-style-image: none;
}
UL.inline LI.node-readmore, UL.inline LI.comment-add
{
	background: #11719F;
	border: none;
	color: #FFFFFF;
	float: right;
	font-weight: bold;
	margin: 7px 0 0 7px;
	cursor: pointer;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	padding: 10px;
}
.node-readmore A, .comment-add A, .comment-add A.active
{
	color: #FFFFFF;
	padding: 10px;
}
.home-block-area .node-readmore, .home-block-area .comment-add
{
	margin: 0 5px;
}
.home-block-area .node-readmore A, .home-block-area .comment-add A
{
	font-size: 12px;
	padding: 0 5px;
}
.user-picture
{
	float: left;
	margin: 0 20px 0 0;
	background: #FFFFFF;
	border: 1px solid #CED1DA;
	padding: 4px;
}
.user-picture A, .user-picture IMG
{
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
}
/*
* Pager
 */
UL.pager
{
	background: #EEF0F5;
	border: 1px solid #CED1DA;
	margin: 20px 0;
	padding: 20px;
	display: block;
	overflow: hidden;
}
UL.pager LI
{
	padding: 0;
	margin: 0;
}
UL.pager LI.pager-current
{
	padding: 10px;
	background: #4EABD7;
	color: #FFFFFF;
}
UL.pager A
{
	padding: 10px;
	background: #11719F;
	color: #FFFFFF;
}
UL.pager A:hover
{
	background: #4EABD7;
}
/*
* Main menu links
 */
#navigation .block-menu H2
{
	display: none;
}
/*Superfish menu essential styles*/
#navigation UL.sf-menu, #navigation UL.sf-menu *
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#navigation UL.sf-menu
{
	line-height: 1;
}
#navigation UL.sf-menu UL
{
	position: absolute;
	top: -999em;
	width: 190px !important;
	/*left offset of submenus need to match (see below)*/
}
#navigation UL.sf-menu UL LI
{
	width: 100%;
}
#navigation UL.sf-menu LI:hover
{
	visibility: inherit;
	/*fixes IE7 'sticky bug'*/
}
#navigation UL.sf-menu LI
{
	float: left;
	position: relative;
}
#navigation UL.sf-menu A
{
	display: block;
	position: relative;
}
#navigation UL.sf-menu LI:hover UL, #navigation UL.sf-menu LI.sfHover UL
{
	left: 0;
	top: 33px;
	/*match top ul list item height*/
	z-index: 99;
}
#navigation UL.sf-menu LI:hover LI UL, #navigation UL.sf-menu LI.sfHover LI UL
{
	top: -999em;
}
#navigation UL.sf-menu LI LI:hover UL, #navigation UL.sf-menu LI LI.sfHover UL
{
	left: 190px !important;
	/*match ul width*/
	top: 0;
}
#navigation UL.sf-menu LI LI:hover LI UL, #navigation UL.sf-menu LI LI.sfHover LI UL
{
	top: -999em;
}
#navigation UL.sf-menu LI LI LI:hover UL, #navigation UL.sf-menu LI LI LI.sfHover UL
{
	left: 190px !important;
	/*match ul width*/
	top: 0;
}
/*1st level*/
#navigation UL.menu, #navigation UL.sf-menu
{
	float: right;
	display: block;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 1;
	font-family: aaarghnormal;
}
#navigation UL.menu:after, #navigation UL.sf-menu:after, #navigation .content:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#navigation UL.menu LI, #navigation UL.sf-menu LI
{
	display: inline-block;
	float: left;
	vertical-align: middle;
	padding: 0 5px 0 0;
	margin: 0;
}
#navigation UL.menu LI.last, #navigation UL.sf-menu LI.last
{
	padding: 0;
}
#navigation UL.menu LI A, #navigation UL.sf-menu LI A
{
	outline: none;
	padding: 5px 5px 3px;
	text-decoration: none;
	border: 2px solid transparent;
	display: block;
	color: #FFFFFF;
	font-size: 17px;
	text-align: center;
}
#navigation UL.menu LI A:hover, #navigation UL.menu LI A.active, #navigation UL.sf-menu LI A:hover, #navigation UL.sf-menu LI A.active
{
	text-decoration: none;
	color: #FFFFFF;
	border: 2px solid #16A085;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px 5px 3px;
	background: transparent;
}
#navigation UL.menu LI A:after, #navigation UL.sf-menu LI A:after
{
	content: none;
}
#navigation UL.menu LI.expanded, #navigation UL.sf-menu LI
{
	position: relative;
}
#navigation UL.menu LI.expanded:hover A, #navigation UL.sf-menu LI:hover A
{
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	background: #0D0F13;
}
#navigation UL.sf-menu A.sf-with-ul
{
	padding-right: 2.25em;
}
#navigation UL.sf-menu LI A
{
	line-height: 23px;
}
/*2nd level*/
.sf-menu LI:hover UL, .sf-menu LI.sfHover UL
{
	left: 0;
	top: 27px;
	/*match top ul list item height*/
	z-index: 99;
}
#navigation UL.menu LI.expanded UL.menu, #navigation UL.sf-menu LI UL
{
	width: 190px;
	z-index: 100;
	font-size: 12px;
	padding: 0;
	background: #0D0F13;
	display: none;
	position: absolute;
}
#navigation UL.menu LI.expanded:hover > UL.menu, #navigation UL.sf-menu LI:hover > UL
{
	display: block;
}
#navigation UL.menu LI.expanded UL.menu LI A, #navigation UL.sf-menu LI UL LI A
{
	font-size: 15px;
	color: #7A8090;
	padding: 10px;
	display: block;
	width: 180px;
	text-align: left;
	border-radius: 0;
	-moz-border-radius: 0;
}
#navigation UL.menu LI.expanded UL.menu LI A:hover, #navigation UL.sf-menu LI UL LI A:hover
{
	color: #FFFFFF;
}
/*3rd, 4th, 5th, (...) level*/
#navigation UL.menu LI UL UL
{
	display: none;
	left: 190px;
	top: 0;
}
#navigation UL.sf-menu LI UL UL
{
	display: none;
	left: 190px;
	top: 0;
}
/*Superfish support: Reset background/border*/
#navigation UL.sf-menu LI
{
	background: transparent;
	border-top: none;
}
#navigation UL.sf-menu A
{
	border: none;
}
#navigation UL.sf-menu LI LI
{
	border: none;
}
#navigation UL.sf-shadow UL
{
	border-radius: 0;
}
/*
* Secondary menu links
 */
#footer-bottom-inside-right UL#secondary-menu, #footer-bottom-inside-right UL.menu
{
	padding: 0;
	margin: 0;
	text-align: right;
}
#footer-bottom-inside-right UL#secondary-menu:after, #footer-bottom-inside-right UL.menu:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#footer-bottom-inside-right UL#secondary-menu LI, #footer-bottom-inside-right UL.menu LI
{
	padding: 0;
	margin: 0;
	border-right: 1px solid #6A7796;
	display: inline-block;
	float: left;
}
#footer-bottom-inside-right UL#secondary-menu LI A, #footer-bottom-inside-right UL.menu LI A
{
	padding: 0 10px;
	line-height: 140%;
}
#footer-bottom-inside-right UL#secondary-menu LI.first A, #footer-bottom-inside-right UL.menu LI.first A
{
	padding: 0 10px 0 0;
}
#footer-bottom-inside-right UL#secondary-menu LI.last, #footer-bottom-inside-right UL.menu LI.last
{
	border-right: none;
}
#footer-bottom-inside-right UL#secondary-menu LI.last A, #footer-bottom-inside-right UL.menu LI.last A
{
	padding: 0 0 0 10px;
}
/*
* Search block
 */
#search-block-form
{
	width: 200px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #101011;
	border-color: #292D30;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	padding: 0 5px;
}
#search-block-form .form-text
{
	background: transparent;
	border: none;
	color: #6A87A3;
	font-size: 11px;
	width: 170px;
	outline: none;
	height: 25px;
	line-height: 25px;
}
#search-block-form LABEL
{
	display: none;
}
#search-block-form .form-submit
{
	background: transparent url("../images/search.png") no-repeat center center;
	border: 0 none;
	width: 25px;
	text-indent: -9999px;
	cursor: pointer;
	height: 25px;
	line-height: 25px;
}
/*
* Front-page Slider

Browser Resets*/
.flex-container A:active, .flexslider A:active, .flex-container A:focus, .flexslider A:focus
{
	outline: none;
	z-index: 999;
}
.slides, .flex-control-nav, .flex-direction-nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*FlexSlider Necessary Styles
-----------------------------*/
.flexslider
{
	margin: 0;
	padding: 0;
	z-index: 999;
}
.flexslider .slides > LI
{
	display: none;
}
/*Hide the slides before the JS is loaded. Avoids image jumping*/
.flexslider .slides IMG
{
	width: 100%;
	display: block;
}
.flex-pauseplay SPAN
{
	text-transform: capitalize;
}
/*Clearfix for the .slides element*/
.slides:after
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
HTML[xmlns] .slides
{
	display: block;
}
* HTML .slides
{
	height: 1%;
}
/*No JavaScript Fallback
If you are not using another script, such as Modernizr, make sure you
* include js that eliminates this class on page load*/
.no-js .slides > LI:first-child
{
	display: block;
}
/*FlexSlider bluemasters Styles
-----------------------------*/
#slideshow
{
	position: relative;
	padding: 0 0 1px;
	background: no-repeat center 100%;
}
.flexslider
{
	background: #FFF;
	border: 0 solid #FFF;
	position: relative;
	margin-bottom: 42px;
	zoom: 1;
	display: none;
}
.flex-viewport
{
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport
{
	max-height: 300px;
}
.flexslider .slides
{
	zoom: 1;
}
.flexslider .slides > LI
{
	position: relative;
}
/*Suggested container for "Slide" animation setups. Can replace this with your own, if you wish*/
.flex-container
{
	zoom: 1;
	position: relative;
}
/*Caption style*/
.slider-item-caption
{
	width: 97.8%;
	padding: 1.1%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 101;
	background: url(../images/30w087b.png);
	color: #FFF;
	font-size: 1.7em;
	display: none;
}
/*Control Nav*/
.flex-control-nav
{
	width: 100%;
	position: absolute;
	bottom: 15px;
	text-align: center;
	z-index: 100;
	display: none;
}
.flex-control-nav LI
{
	margin: 0 0 0 5px;
	display: inline-block;
	zoom: 1;
	=display: inline;
}
.flex-control-nav LI:first-child
{
	margin: 0;
}
.flex-control-paging LI A
{
	background: url(../images/slide-nav-button.png) no-repeat center;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 4px;
	border: none;
	outline: none;
	cursor: pointer;
	text-indent: -9999px;
}
.flex-control-paging LI A:hover
{
	font-weight: bold;
	border: none;
	outline: none;
}
.flex-control-paging LI A.flex-active
{
	background: url(../images/slide-nav-button-hover.png) no-repeat center;
	border: none;
	outline: none;
	cursor: default;
}
/*
* Top social, Network
 */
#topSocial UL
{
	list-style: none outside none;
	padding: 0;
	margin: 0;
}
#topSocial UL LI
{
	display: inline;
}
#topSocial UL LI A
{
	display: block;
	float: left;
	height: 16px;
	width: 16px;
	text-indent: -9999px;
	padding: 0 5px 0 0;
	outline: none;
}
#topSocial UL LI A.twitter
{
	background: url(../images/twitter-top.png) no-repeat 0 0;
}
#topSocial UL LI A.facebook
{
	background: url(../images/facebook-top.png) no-repeat 0 0;
}
#topSocial UL LI A.rss
{
	background: url(../images/rss-top.png) no-repeat 0 0;
}
.network
{
	display: block;
	text-align: center;
	padding: 15px 0;
}
.network A
{
	display: inline-block;
	overflow: hidden;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
	padding: 0 5px 0 0;
	outline: none;
}
.network A.twitter
{
	background: url(../images/twitter2.png) no-repeat 0 0;
}
.network A.facebook
{
	background: url(../images/facebook.png) no-repeat 0 0;
}
.network A.in
{
	background: url(../images/in.png) no-repeat 0 0;
}
.network A.tumblr
{
	background: url(../images/tumblr.png) no-repeat 0 0;
}
.network A.youtube
{
	background: url(../images/youtube.png) no-repeat 0 0;
}
.network A.flickr
{
	background: url(../images/flickr.png) no-repeat 0 0;
}
/*
* Credits
 */
.credits-container
{
	height: auto;
	margin: 0 auto;
	padding: 0;
}
.credits-container A
{
	text-decoration: underline;
}
A.smashing:link, A.smashing:active, A.smashing:visited, A.smashing:hover, A.drupalizing:link, A.drupalizing:active, A.drupalizing:visited, A.drupalizing:hover
{
	background: transparent url("../images/footer-logo-smashing.png") no-repeat center top;
	display: block;
	float: left;
	height: 54px;
	margin: 0;
	outline: 0 none;
	padding: 0;
	text-indent: -9999px;
	width: 154px;
	display: none;
}
A.drupalizing:link, A.drupalizing:active, A.drupalizing:visited, A.drupalizing:hover
{
	background: transparent url("../images/footer-logo-drupalizing.png") no-repeat center top;
	display: none;
}
/*
* EXTRA

---------------------------------------------------------------------*/
TABLE
{
	margin: 15px 0;
	border: 1px solid #CDCDCD;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
	width: 100%;
}
TH
{
	background: #9097A9;
	color: #FFFFFF;
}
TR.even
{
	background-color: #E0E3EB;
}
TR.odd
{
	background-color: #FFFFFF;
}
TD, TH
{
	padding: 10px;
}
TD
{
	border: 1px solid #CDCDCD;
}
TD.active
{
	background: none;
	border: 1px solid #CDCDCD;
}
/*---------------------------------------------------------------------*/
UL, OL
{
	display: block;
	margin: 15px 0 15px 40px;
}
UL UL, UL UL UL, OL OL, OL OL OL
{
	margin: 0;
	margin-left: 20px;
}
OL
{
	list-style-type: decimal;
}
OL OL
{
	list-style-type: upper-alpha;
}
OL OL OL
{
	list-style-type: lower-alpha;
}
LI
{
	display: list-item;
}
UL LI A
{
	text-decoration: none;
}
DIV.messages
{
	margin: 0 10px 20px;
}
/*
* Responsive styles

LANDSCAPE PHONE TO DOWN
#home-blocks-area*/
@media (max-width: 480px)
{
	#home-blocks-area .block H2
	{
		font-size: 16px;
	}
	#home-blocks-area .block .content H3
	{
		font-size: 14px;
		line-height: 18px;
	}
}
/*LANDSCAPE PHONE TO PORTRAIT TABLET
top header*/
@media all and (max-width: 759px)
{
	#header-top-inside-left
	{
		float: none;
		display: inline-block;
	}
	#header-top-inside-left-feed
	{
		float: none;
		padding: 30px 0 0;
		display: inline-block;
	}
	#header-top-inside-right
	{
		float: none;
		padding: 20px 0 0;
		display: inline-block;
	}
}
/*header*/
#header
{
	width: 100%;
	padding: 0 4%;
	text-align: center;
	z-index: 99998;
	position: fixed;
}
@media all and (max-width: 759px)
{
	#logo-floater
	{
		text-align: left;
		float: none;
	}
	/*main navigation*/
	#navigation
	{
		margin: 30px auto 20px;
		width: 55%;
		float: none;
		min-width: 220px;
	}
	SELECT
	{
		width: 100%;
		padding: 7px;
		border: 1px solid #000000;
	}
	SELECT:focus
	{
		outline: none;
	}
	/*banner*/
	#slideshow
	{
		background: none;
	}
	/*main-area*/
	#main-area-inside
	{
		background: #FFFFFF;
		/*[empty]margin:;*/
	}
	/*footer*/
	#footer H2
	{
		padding: 30px 0 10px;
	}
	#footer #footer-left-1 H2
	{
		padding: 0 0 10px;
	}
	#footer-bottom A
	{
		display: inline-block;
		float: none;
	}
	/*footer secondary menu*/
	#footer-bottom-inside, #footer-bottom-inside-right UL#secondary-menu, #footer-bottom-inside-right UL.menu
	{
		text-align: center;
		background: url(images/slide-image-1.jpg);
	}
	#footer-bottom-inside-right UL#secondary-menu LI, #footer-bottom-inside-right UL.menu LI
	{
		padding: 0;
		margin: 4px 0;
		border-right: none;
		display: block;
		float: none;
	}
	#footer-bottom-inside-right UL#secondary-menu LI A, #footer-bottom-inside-right UL#secondary-menu LI.first A, #footer-bottom-inside-right UL.menu LI A, #footer-bottom-inside-right UL.menu LI.first A
	{
		padding: 0;
	}
	/*comment-forms*/
	.comment-form .form-text
	{
		width: 93%;
	}
	.contact-form .form-text
	{
		width: 93%;
	}
}
/*LANDSCAPE DESKTOP TO DOWN*/
@media all and (max-width: 979px)
{
	.column-fix, .alpha .column-fix, .omega .column-fix, .alpha.omega .column-fix
	{
		padding: 0;
	}
	/*home-blocks*/
	#home-blocks-area
	{
		padding-top: 10px;
		background: #47A085;
	}
	/*footer*/
	#footer H2
	{
		font-size: 18px;
	}
	.footer-gallery-block IMG
	{
		float: none;
		width: 44px;
		height: 41px;
	}
}
/*PORTRAIT TABLET TO LANDSCAPE AND DESKTOP
main navigation*/
@media all and (min-width: 760px) and (max-width: 979px)
{
	#navigation
	{
		margin: 30px 0 0;
		width: 250px;
	}
	#navigation SELECT
	{
		width: 100%;
		padding: 7px;
		border: 1px solid #000000;
	}
	#navigation SELECT:focus
	{
		outline: none;
	}
	/*banner*/
	#slideshow
	{
		background: url(../images/slide-shadow_700.png) no-repeat center 99.5%;
		/*[empty]width:;*/
	}
	/*home-blocks*/
	#home-blocks-area .region-home-area-1 .block H2, #home-blocks-area .region-home-area-2 .block H2, #home-blocks-area .region-home-area-3 .block H2
	{
		background: none;
		padding: 10px 0 0 10px;
	}
	#home-blocks-area .block .content
	{
		padding: 10px;
	}
	#home-blocks-area UL.inline LI.node-readmore, #home-blocks-area UL.inline LI.comment-add
	{
		margin: 10px 0 0 5px;
		padding: 7px 1px;
	}
	#home-blocks-area UL.inline LI.node-readmore.last
	{
		margin: 10px 0 0 0px;
	}
	.ico
	{
		margin: 0 10px 10px 0;
	}
	/*main-area*/
	#main-area-inside
	{
		background-image: url(../images/main-area-bg_680.png);
		/*[empty]margin:;*/
	}
	/*comment-forms*/
	.comment-form .form-text
	{
		width: 97%;
	}
	.contact-form .form-text
	{
		width: 97%;
	}
}
/*DESKTOP SCREENS*/
@font-face
{
	font-family: ecoicon;
	src: url('../fonts/ecoicons/ecoicon.eot');
	src: url('../fonts/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'), url('../fonts/ecoicons/ecoicon.woff') format('woff'), url('../fonts/ecoicons/ecoicon.ttf') format('truetype'), url('../fonts/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.hi-icon-wrap
{
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
}
.hi-icon
{
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #FFF;
}
.hi-icon:after
{
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.hi-icon:before
{
	font-family: ecoicon;
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.hi-icon-mobile:before
{
	content: "\e009";
}
.hi-icon-screen:before
{
	content: "\e00a";
}
.hi-icon-earth:before
{
	content: "\e002";
}
.hi-icon-support:before
{
	content: "\e000";
}
.hi-icon-locked:before
{
	content: "\e001";
}
.hi-icon-cog:before
{
	content: "\e003";
}
.hi-icon-clock:before
{
	content: "\e004";
}
.hi-icon-videos:before
{
	content: "\e005";
}
.hi-icon-list:before
{
	content: "\e006";
}
.hi-icon-refresh:before
{
	content: "\e007";
}
.hi-icon-images:before
{
	content: "\e008";
}
.hi-icon-pencil:before
{
	content: "\e00b";
}
.hi-icon-link:before
{
	content: "\e00c";
}
.hi-icon-mail:before
{
	content: "\e00d";
}
.hi-icon-location:before
{
	content: "\e00e";
}
.hi-icon-archive:before
{
	content: "\e00f";
}
.hi-icon-chat:before
{
	content: "\e010";
}
.hi-icon-bookmark:before
{
	content: "\e011";
}
.hi-icon-user:before
{
	content: "\e012";
}
.hi-icon-contract:before
{
	content: "\e013";
}
.hi-icon-star:before
{
	content: "\e014";
}
/*Effect 6*/
.hi-icon-effect-6 .hi-icon
{
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}
.no-touch .hi-icon-effect-6 .hi-icon:hover
{
	background: rgba(255, 255, 255, 1);
	color: #64BB5D;
}
.no-touch .hi-icon-effect-6 .hi-icon:hover:before
{
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}
.slider
{
	position: relative;
	width: 100%;
	height: 420px;
	overflow: hidden;
}
.slides
{
	height: 100%;
	/*Clear fix*/
	@include clearfix(); -webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}
.slide
{
	height: 100%;
	float: left;
	clear: none;
}
.slider-arrows
{
}
.slider-arrow
{
	position: absolute;
	display: block;
	margin-bottom: -20px;
	padding: 20px;
}
.slider-arrow--right
{
	bottom: 50%;
	right: 30px;
}
.slider-arrow--left
{
	bottom: 50%;
	left: 30px;
}
.slider-nav
{
	position: absolute;
	bottom: 30px;
}
.slider-nav__item
{
	width: 12px;
	height: 12px;
	float: left;
	clear: none;
	display: block;
	margin: 0 5px;
	background: #FFF;
}
.slider-nav__item:hover
{
	background: #CCC;
}
.slider-nav__item--current
{
	background: #CCC;
}
